.semestre {
  margin-bottom: 30px;
}

.semestre h2 {
  color: deeppink;
  font-size: 22px;
  margin-bottom: 10px;
}

.contenedor-materias {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.materia {
  background: #ffe6f0;
  padding: 15px;
  border: 2px solid hotpink;
  border-radius: 12px;
  width: 240px;
  font-weight: bold;
  position: relative;
  text-align: center;
  transition: 0.3s;
}

.materia.bloqueada {
  opacity: 0.4;
  pointer-events: none;
}

.materia.aprobada {
  background-color: #ffd1ec;
}

.boton-aprobar {
  margin-top: 10px;
  background-color: #ff94c2;
  border: none;
  padding: 6px 12px;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

.boton-aprobar:hover {
  background-color: #ff69a6;
}

